language: python
python:
 # We don't actually use the Travis Python, but this keeps it organized.
 - "3.8.6"

install:
 # set up conda
 - sudo apt-get update
 - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
 - bash miniconda.sh -b -p $HOME/miniconda
 - export PATH="$HOME/miniconda/bin:$PATH"
 - hash -r
 - conda config --set always_yes yes --set changeps1 no
 - conda update -q conda
 # clone metagem repo
 - git clone https://github.com/franciscozorrilla/metaGEM.git && cd metaGEM
 # set up mamba
 - travis_wait 30 conda create --quiet --prefix ./envs/mamba mamba -c conda-forge && source activate envs/mamba
 # set up metagem
 - travis_wait 30 mamba env create --quiet --prefix ./envs/metagem -f envs/metaGEM_env.yml
 - source activate envs/metagem 
 - pip install --quiet --user memote carveme smetana
 - source deactivate && source activate envs/mamba
 # set up metawrap
 - travis_wait 30 mamba env create --quiet --prefix ./envs/metawrap -f envs/metaWRAP_env.yml
 # set up prokka-roary
 - travis_wait 30 mamba env create --quiet --prefix ./envs/prokkaroary -f envs/prokkaroary_env.yml
 # set root dir
 - echo -e "Setting current directory to root in config.yaml file ... \n" && root=$(pwd) && sed  -i "2s~/.*$~$root~" config.yaml
 # set scratch dir
 - mkdir -p tmp
 - echo -e "Setting tmp directory in config.yaml file ... \n" && scratch=$(pwd|sed 's|$|/tmp|g') && sed  -i "3s~/.*$~$scratch~" config.yaml

script:
 - source activate envs/metagem
 # run createFolders
 - snakemake createFolders -j1
 # run downloadToy
 - snakemake downloadToy -j1
 # run fastp
 - snakemake all -j1